* {
  margin: 0px;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

#app {
  background-color: rgb(229, 244, 252);
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 0px;
  display: inline-block;
}

/* Kirsten CSS: */
.item {
  margin: 50px 50px 50px 50px;
  display: flex
}

.ui.left.floated.image {
  max-width: 200px;
}

.right-col {
  display: flex;
  flex-direction:column;
  padding: 50px
}

.productInfo {
  flex-grow: 1;
}

.ui.huge.green.button {
  display: flex;
  max-width: 45%;
  max-height: 30%;
  margin: 10% 0% 0% 0%
}

td .content {
  display: flex;
  justify-content: start
 }

 .checkout {
   padding: 50px;
   display: flex;
   flex-direction: column;
 }

/* Kirsten CSS: */

.ui.secondary.menu.bgBlue.rightMenu {
  margin-right: 10px;
  border-bottom: 0px;
  margin-bottom: 0px;
}

.ui.secondary.menu.bgBlue {
  background-color: rgb(191, 217, 255);
  border-bottom: 1px rgb(15, 18, 31) solid;
  margin-bottom: 10px;
  /* margin: 20px; */
}

.ui.secondary.menu .item.rollover:hover {
  /* color: orange; */
  background-color: rgb(229, 244, 252);
}
